@model IEnumerable<AustriaSkiResorts.Models.resort>

@{
    ViewData["Title"] = "Index";
}
<div class="w-100 mt4 py4" style="margin-bottom:70px;">
    <div class="display-1 text-center pt4">Where to go in Austria</div>
    <div class="flex flex-wrap justify-center mt4 px4">
        <div class="col-6" style="font-family: 'Poppins', sans-serif; font-size:25px">
            <p>Best family ski resorts</p>
            <p style="font-size:18px">
                Both Scheffau and Galtür have excellent ski school-run kids clubs, while Bad Gastein and Bad Hofgastein have a range of runs to keep everyone happy.
            </p>

            <p>Best après ski resorts</p>
            <p style="font-size:18px">
                St Anton is famous for the lively Mooserwirt or Krazy Kanguruh, while Ischgl offers more high-end nightlife. Mayrhofen and Sölden also deserve a mention.
            </p>
        </div>
        <div class="col-6" style="font-family: 'Poppins', sans-serif; font-size:25px">
            <p>Best beginner ski resorts</p>
            <p style="font-size:18px">
                Rauris’ excellent ski school and intimate ski area are perfect to learn in, Kaprun’s lifts access plenty of easy terrain and Seefeld has lots to do when legs get tired.
            </p>
            <p>Best intermediate ski resorts</p>
            <p style="font-size:18px">
                Three-quarters of Schladming’s runs are red, Ellmau’s slopes are helpfully tree-lined and Obergurgl, as the highest ski resort in Austria.
            </p>
        </div>
    </div>
</div>
<div class="display-1 text-center pt4 mb4 pb4">Resorts in Austria</div>

<form asp-action="Index">
    <div class="form-group col-6 mx-auto mb4 flex flex-wrap flex-row">
        <div class="col-8">
            <label for="sort">Sort by: </label>
            <select class="form-control" id="day" name="sort">
                <option>Sort by: --</option>
                <option>Price - low to high</option>
                <option>Price - high to low</option>
                <option>Alphabetically: A-Z</option>
                <option>Alphabetically: Z-A</option>
            </select>
        </div>
        <div class="col-3" style="margin-top:25px;">
            <input type="submit" class="btn btn-danger" title="Sort" value="Sort" />
        </div>
    </div>
</form>

    <div class="row mx-auto mt4" style="width:90%">
        <!-- cards-->
        @foreach (var item in Model)
        {
            if (item.availableNumberOfTermins > 0)
            {
                <div class="col-lg-4 mb-4 mx-auto">
                    <div class="border">
                        <div style="height:200px;"><img width="100%" height="100%" src=@Html.DisplayFor(modelItem => item.urlPicture)></div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <p style="color:red;">@Html.DisplayFor(modelItem => item.name)</p>
                            </h4>
                            <p class="card-text">From $@Html.DisplayFor(modelItem => item.price) per person</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.shortInfo)</p>
                            <a class="btn btn-danger btn-sm" role="button" asp-action="Details" asp-route-id="@item.id">Continue reading</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
