@{
    ViewData["Title"] = "successfullyOrder";

}

<div style="height:75vh; ">
    <div class="pl4 mt4" style="font-size:35px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">
        <h1>Successfully ordered</h1>
    </div>
    <hr style="border:1px solid gray;" />

    <div class="flex flex-wrap flex-row" style="font-size:30px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">
        <div class="col-6" style="padding:40px 40px">
            <p>
                Thank you for using are service.
                Please check information once again.
            </p>
            <div style="font-size:20px;">
                <p>Day: @ViewData["day"]</p>
                <p>Month: @ViewData["month"]</p>
                <p>Year: @ViewData["year"]</p>
                <p>Time: @ViewData["time"]</p>

            </div>
            <a class="btn btn-info" href="/resorts/Index" style="text-decoration:none; color:white; width:200px;">Go Back</a>
        </div>
        <div class="col-6" style="padding:40px 40px">
            <textarea class="form-control"rows="5" placeholder="Enter your message here: "></textarea>
            <input type="button" class="btn btn-info" value="Send" style="float:right; margin-top:10px;"/>
        </div>
    </div>
</div>