@{
    ViewData["Title"] = "successfullyOrder";

}

<h2>successfullyOrder</h2>

<h1>Successfully ordered termin</h1>
<p>Please check your email for more info.</p>
<p>@ViewData["day"]</p>
<p>@ViewData["month"]</p>
<p>@ViewData["year"]</p>
<p>@ViewData["time"]</p>