@{
    ViewData["Title"] = "About";
}
<div style="font-size:30px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">

    <div class="pl4 mt4 col-12" style="font-size:35px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">
        <h1>About</h1>
        <p style="color:red;">Why choose Ski in Austria</p>
    </div>

    <hr style="border:1px solid gray;" />

    <h2>Average price: @ViewData["avg"]$</h2>
    <h2>We currently have @ViewData["total"] resorts in out database</h2>
    <div class="flex flex-row flex-wrap mb4 mt4">
        <div class="col-6">
            <p>
                That's very simple ... skiAustria Tours have been around since 1995 (initially as Austrian Getaways) and the fact that we have full time offices in both South Africa and Austria (throughout the year).
            </p>
            <p>In addition we include, as standard in our packages, a 24 hour Help Line in Austria to further assist our network of representatives in the resorts should any eventuality occur.</p>

        </div>
        <div class="col-6"> <img src="https://content.tui.co.uk/adamtui/2017_7/11_17/699fc063-040f-47db-81f9-a7ad0126b04c/AUS_NAS_F0024WebOriginalCompressed.jpg?i10c=img.resize(width:658);img.crop(width:658%2Cheight:370)" /></div>

    </div>
    <div class="flex flex-row flex-wrap mt4 mb4">
        <div class="col-6"> <img src="https://cdn-04.independent.ie/life/home-garden/e45f6/37462560.ece/AUTOCROP/w620/2018-10-28_lif_45179730_I2.JPG" /></div>
        <div class="col-6">
            <p>
                That's very simple ... skiAustria Tours have been around since 1995 (initially as Austrian Getaways) and the fact that we have full time offices in both South Africa and Austria (throughout the year).
            </p>
            <p>In addition we include, as standard in our packages, a 24 hour Help Line in Austria to further assist our network of representatives in the resorts should any eventuality occur.</p>
        </div>
    </div>
</div>