@{
    ViewData["Title"] = "Contact";
}
<div style="height:75vh;">
    <div class="pl4 mt4" style="font-size:35px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">
        <h1>Contact</h1>
    </div>
    <hr style="border:1px solid gray;"/>

    <div class="flex flex-wrap flex-row" style="font-size:30px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">
        <div class="col-6" style="padding:40px 40px">
            <p>
                Our holiday experts are here to assist you with your holiday planning. Send us a message and we will get back you as soon as we can.
            </p>
            <p style="font-size:23px;">Give us a call Monday to Friday from 8am to noon. Outside of our office hours please drop us an email and we'll be happy to answer your questions.</p>
        </div>
        <div class="col-6" style="padding:40px 40px">
            <p style="color:red;">Telephone: 00800 400 200 00*</p>
            <p style="color:red;">
                info@austria.info
            </p>
            <p>*toll-free; calls from mobile networks may incur charges</p>
        </div>
    </div>
</div>