@{
    ViewData["Title"] = "Home Page";
}
<header style="opacity:0.8;">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
</header>

<div class="main" style="color:black; font-weight:500;">
    <div class="w-100 mt4 py4" style="margin-bottom:70px; background-color:transparent;">
        <div class="display-1 text-center pt4">What’s skiing in Austria like?</div>
        <div class="text-center pt-4 col-11 mx-auto text" style="font-family: 'Poppins', sans-serif; font-size:25px">
            <p>
                Austria’s ski resorts are full of charm, mostly pretty villages with onion-domed churches and a long tradition of hospitality.
                It’s got the best lift systems in the world, giving speedy and seamless access to linked ski areas with tree-lined slopes.
            </p>
            <p>The best part? You’re in the home of après – it’s cheerful, fun and cheaper than in other countries.</p>
        </div>
    </div>
    <div class="w-100">
        <div class="mx-auto mt4 py4 col-11 rounded flex flex-wrap" style="margin-bottom:70px; background-color:;">
            <div class="col-3" style="height:100%;">
                <img style="width:100%; height:100%;" src="https://cdn2.iconfinder.com/data/icons/ski-glyph-silhouettes/300/14571090Untitled-3-512.png" />
            </div>
            <div class="col-9" style="font-family: 'Poppins', sans-serif; font-size:25px">Austria is the second most popular ski country for Britons, largely due to its excellent and varied resorts to suit all types of skiing abilities. Austria’s traditional and beautiful resorts are certainly a pulling factor for thousands of people.</div>
        </div>
    </div>
</div>